@charset "UTF-8";

textarea {
    resize: none;
    margin-top: 15px;
}
*{
    margin: 0px;
    padding: 0px;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
/*Gambiarra para Primeiro campo info do professor margin top diferenciada*/
div#container section#scCadastroPit form#frmPit fieldset#camposDados1 {
    margin-top: 75px;
}

/*Classes ---------------------------------------------------------------------*/
.inDados{
    margin: 5px;
}
.camposDados{
    float: left;
    width: 100%;
    padding: 10px;
    margin-top: 15px;

}
.tituloCamposDados {
    text-align: center;
    color: black;
}
.radios{
    margin-right: 10px;
}
.lblRadios{
    margin-right: 5px;
}
.clear {
    clear: both;
}
.btnAddCampo{
    width: 45px;
    height:30px ;
    background-color: cadetblue;
    color: white;
    font-family: "Courier New", Courier, monospace;
    font-weight: bold;
    font-size: 18pt;
    text-shadow: 2px 1px 2px black;
    border: 2px outset rgb(134, 223, 225);
}
/*fim classes---------------------------------------------------*/

body{
    background-color: #CAE1FF;
    width: 100%;
    min-width: 980px;
}

/*Estilização do cabecalho*/
header#cabecalho {
    background-color: #d7d7d7 ;
    margin: 0px auto 15px auto ;
    width: auto;
    height: 50px;
    min-height: 50px;
    max-height: 120px;
    box-shadow: 0px 2px 5px #414a5a;
}
header#cabecalho img#imgLogo {
    float: left;
    width:150px;
    height: 100px;

}
header#cabecalho h1#tituloPrincipal {
    float: left;
    padding-top: 10px;
    margin-left: 0px;
    color: #414a5a;
    font-family:  Arial,monospace, serif;
    font-size: 15pt;

}

/*-------------------------------------------------------------*/
/*estilo da div que contem todo o conteudo ate o cabecalho*/
div#container {
    position: relative;
    background-color: #E8E8E8;
    width: 980px;
    height: auto;
    margin: 60px auto 10px auto;
}
/*estilo de toda a secao do form*/
section#scCadastroPit {
    padding: 10px;

}

/*Cabecalho do formulario*/
div#container header#cabecalhoPit {
    position: absolute;
    background-color: #d7d7d7 ;
    width: 100%;
    height: 60px;
}
/*titulo do cabecalho cadastro*/
div#container header#cabecalhoPit h2{
    text-align: center;
    margin-top: 15px;
    font-size: 15pt;
}
/*----------------------------------------------------------*/

/*Estilo do select dos Semestres*/
div#container header#cabecalhoPit select#selectSemestres {
    position: absolute;
    top: 32px;
    left: 10px;
}
/*-------------------------------------------------------------*/

/*Label do select do Semestre*/
div#container header#cabecalhoPit label#lblSelect {
    position: absolute;
    top: 10px;
    left: 10px;
}
/*-------------------------------------------------------------*/

/*fim cabecalho do formulario*/


div#container section#scCadastroPit p#nomeProf {
    float: left;
    color: black;
}

div#container section#scCadastroPit p#numSiape {
    float: right;
    color: black;

}

div#container section#scCadastroPit form#frmPit fieldset#regimeTrabalho{
    float: right;
    width: 220px;
    padding: 10px;
    text-align: center;
    color: black;

}

div#container section#scCadastroPit form#frmPit div#componentesCurriculares {
    text-align: center;
    float: left;
    margin: 10px;
    border: 2px solid black;
}

div#container section#scCadastroPit form#frmPit div#coordenadoria {
    text-align: center;
    float: left;
    margin: 10px;
    border: 2px solid black;
}

div#container section#scCadastroPit form#frmPit div#numAulas {
    text-align: center;
    float: right;
    margin: 10px;
    border: 2px solid black;

}

div#container section#scCadastroPit form#frmPit input#btnAddCampo {
    float: right;
    margin: 10px;
}

footer#rodape {
    background-color: #d7d7d7;
    box-shadow: 2px 0px 5px #414a5a;
    clear: both;
    width: auto;
    height: 50px;
    margin-top: 10px;
}

