@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
}

h1#tituloPrincipal {
    text-align: center;

}
body{
    background-color: cornflowerblue;

}


fieldset#validacao{
    background-color: palegoldenrod;
    position: absolute;       /* take element out of the normal page flow! */
    top: 100px;                /* position the element vertically using top or bottom
                               and define width as you like:*/
    width: 350px;
    height: 300px;
    left: 0;                  /* set left and right to the same value! */
    right: 0;
    margin-left: auto;        /* adding auto-margins left and right will
                               center the element horizontally!*/
    margin-right: auto;

}
